<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wens.mapper.CityMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 c.id AS id, c.name AS name, c.state AS state, c.country AS country
	</sql>

</mapper>