<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wens.mapper.TestTbMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 t.id AS id, t.tinyint_field AS tinyintField, t.smallint_field AS smallintField, t.mediumint_field AS mediumintField, t.int_field AS intField, t.biginit_field AS biginitField, t.fload_field AS floadField, t.double_field AS doubleField, t.decimal_field AS decimalField, t.bit_field AS bitField, t.char_field AS charField, t.varchar_field AS varcharField, t.tinytext_field AS tinytextField, t.mediumtext_field AS mediumtextField, t.longtext_field AS longtextField, t.tinyblob_field AS tinyblobField, t.mediumblob_field AS mediumblobField, t.blob_field AS blobField, t.longblob_field AS longblobField, t.binary_field AS binaryField, t.varbinary_field AS varbinaryField, t.enum_field AS enumField, t.set_field AS setField, t.date_field AS dateField, t.datetime_field AS datetimeField, t.timestamp_field AS timestampField, t.time_field AS timeField, t.year_field AS yearField, t.json_field AS jsonField
	</sql>

</mapper>