<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.live.mapper.CoursewareMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 courseware_id AS coursewareId, cource_id AS courceId, lecture_id AS lectureId, doc_id AS docId, file_name AS fileName, creater_id AS createrId, creater_name AS createrName, create_time AS createTime, update_time AS updateTime
	</sql>

</mapper>