<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.live.mapper.CourseInfoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 course_id AS courseId, title AS title, sub_title AS subTitle, price AS price, tags AS tags, suit_for AS suitFor, intro AS intro, teacher_intro AS teacherIntro, cover AS cover, creater_id AS createrId, creater_name AS createrName, teacher_id AS teacherId, teacher_name AS teacherName, sign_amount AS signAmount, start_time AS startTime, end_time AS endTime, status AS status, create_time AS createTime, update_time AS updateTime, lecture_count AS lectureCount, grade_name AS gradeName, subject_name AS subjectName
	</sql>

</mapper>