<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.live.mapper.DiscountCouponOwnerMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 oid AS oid, did AS did, owner_id AS ownerId, owner_name AS ownerName, status AS status, deleted AS deleted, create_time AS createTime, update_time AS updateTime
	</sql>

</mapper>