<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.live.mapper.LearnLogMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 log_id AS logId, cource_id AS courceId, lecture_id AS lectureId, uid AS uid, time AS time
	</sql>

</mapper>