<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.live.mapper.LectureMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 lecture_id AS lectureId, course_id AS courseId, lecture_no AS lectureNo, title AS title, sub_title AS subTitle, teaching_method AS teachingMethod, video_url AS videoUrl, room_id AS roomId, start_time AS startTime, end_time AS endTime, create_time AS createTime, update_time AS updateTime, course_title AS courseTitle, create_room_log AS createRoomLog, create_room_hash AS createRoomHash, create_room_success AS createRoomSuccess
	</sql>

</mapper>