<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.live.mapper.UserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 uid AS uid, username AS username, password AS password, real_name AS realName, id_card_no AS idCardNo, phone_no AS phoneNo, avatar AS avatar, sex AS sex, location AS location, user_type AS userType, status AS status, create_time AS createTime, update_time AS updateTime
	</sql>

</mapper>